@model Fopex.DAL.Model.Customer.mCustomer


@{
    ViewBag.Title = "Create Customer";
}

@using (Html.BeginForm("Create", "Customer", FormMethod.Post))
{


    <div class="container">


        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-12">

                        New Customer

                    </div>
                </div>
            </div>
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Success!</strong> Indicates a successful or positive action.
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-outline-secondary" runat="server">Save</button>
                                <button class="btn btn-outline-secondary" @Html.ActionLink("Cancel", "Index")></button>

                            </div>




                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer_ID)

                            @Html.EditorFor(model => model.Customer_ID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer_ID, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Customer_Name)

                            @Html.EditorFor(model => model.Customer_Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Customer_Name, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Contact_Person_Name)
                            <div>
                                @Html.EditorFor(model => model.Contact_Person_Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Contact_Person_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone_No)
                            <div>
                                @Html.EditorFor(model => model.Phone_No, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Phone_No, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email)
                            <div>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AddessLine1)
                            <div>
                                @Html.EditorFor(model => model.AddessLine1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AddessLine1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AddressLine2)
                            <div>
                                @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Country)
                            <div>
                                @Html.DropDownListFor(p => Model.Country, (IEnumerable<SelectListItem>)ViewBag.vbcountry, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.City)
                            <div>
                                @Html.DropDownListFor(p => Model.City, (IEnumerable<SelectListItem>)ViewBag.vbcity, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.State)
                            <div>


                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Region)
                            <div>
                                @Html.DropDownListFor(p => Model.Region, (IEnumerable<SelectListItem>)ViewBag.vbRegion, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">


                        @Html.LabelFor(model => model.Last_Name)
                        <div>
                            @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Additional_Notes)
                            <div>
                                @Html.EditorFor(model => model.Additional_Notes, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Additional_Notes, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-sm-3">  </div>
                    <div class="col-sm-3">  </div>
                    <div class="col-sm-3">  </div>
                    <div class="col-sm-3">  </div>
                </div>

            </div>
            <div class="card-footer">Footer</div>
        </div>


    </div>








}


@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
